- content_for :head do
  = stylesheet_link_tag 'ui.datepicker.css'
  = javascript_include_tag 'ui.datepicker.js'
  :javascript
    $(document).ready(function(){
      $("#meeting_date").datepicker({ 
          dateFormat: "DD, MM d, yy", 
          showOn: "both", 
          buttonImage: "/images/calendar.gif", 
          buttonImageOnly: true 
      });
    });

- form_for(@meeting) do |f|
  = f.error_messages

  %p
    = f.label :date
    %br
    = f.text_field :date, :id => 'meeting_date'
  %p
    = f.label :venue
    %br
    = f.text_field :venue
  %h4 Attendees
  %ul{ :style => 'list-style:none; padding-left: 0'}
    - for person in Person.all
      %li
        = check_box_tag "meeting[attendee_ids][]", person.id, @meeting.attendees.include?(person)
        = person.name
  %p
    = f.submit "Save"