- content_for :sidebar do
  = javascript_tag nil, { :id => "__openidselector", :src => "https://www.idselector.com/selector/35a7c32f7c9b9a1070af8f839f4b1deade415eb5", :charset =>"utf-8" }

  %h3 OpenID Login (inactive)
  
  %form{:action => '/login', :method => 'post'}  
    / %input{ :id => "openid_identifier" }
    = text_field_tag 'openid_identifier'
    =# submit_tag 'Go'

  = logged_in? ? link_to("Log out #{current_user.email}", session_url, :method => :delete) : link_to("Log in", new_session_url)
					  
#next_meeting
  %h1 Next Meeting
  - unless @next_meeting.nil?
    = render :partial => "table", :locals => { :meetings => @next_meeting.to_a }
  - else
    No meeting has been scheduled yet

#future_meetings
  %h3 Upcoming Meetings
  - unless @future_meetings.empty?
    = render :partial => "table", :locals => { :meetings => @future_meetings }
  - else
    No meetings have been scheduled yet
    
#past_meetings
  %h3 Previous Meetings
  - unless @past_meetings.empty?
    = render :partial => "table", :locals => { :meetings => @past_meetings }
  - else
    There have not been any meetings yet
    
%p= link_to 'Schedule a new meeting', new_meeting_path
