%h1 New meeting

- form_for(@meeting) do |f|
  = f.error_messages

  %p
    = f.label :date
    %br
    = f.datetime_select :date
  %p
    = f.label :venue
    %br
    = f.text_field :venue
  %p
    = f.submit "Create"

= link_to 'Back', meetings_path
