= flash[:notice]

%h2 Meeting Details

%p
  %strong Date:
  =h @meeting.date.to_s(:day_date)

%p
  %strong Time:
  =h @meeting.date.to_s(:am_pm).downcase
%p
  %strong Venue:
  =h @meeting.venue
  
%p
  %strong Topics:
- if @meeting.topics.empty?
  None
- else
  %ul
    = render :partial => 'topic', :collection => @meeting.topics

%p
  %strong Attendees:
%ul{ :style => 'list-style:none; padding-left: 0' }
  - for person in @meeting.attendees
    %li.peep
      = gravatar_image_tag(person.email, :alt => person.name, :valign => 'middle', :gravatar => { :size => 32 })
      = person.name
      
= link_to 'Edit', edit_meeting_path(@meeting)
|
= link_to 'Back', meetings_path