%h1 What's Going On Here?
%p 
  This is the early beginnings of the Canberra Ruby Crew site which will evolve as we hack on it at our monthly meetings making it do all sorts of crazy and cool things. Right now it does zip all, but you can change that by forking it on
  = link_to 'github', 'http://github.com/artpop/crc_site'
  and sending me a pull request if you want to see your changes go live:

%pre
  git://github.com/artpop/crc_site.git

%h2 Hacks
%p
  Check out our
  %a{:href => commits_path} hacks pages
  which pulls all the CRC peeps commits from github tagged with #crc in the description.

%h2 Mailing List
%p 
  A Canberra specific Ruby and Rails
  = link_to 'mailing list is', 'http://groups.google.com/group/canberra-ruby'
  is available for those who want to use it:
%pre
  http://groups.google.com/group/canberra-ruby

%h2 Meetings
%p We aim to have meetups on the last Wednesday of the month.

%h2 Peeps
#peeps
  - (Person.all.sort_by{rand}).each do |p|
    %div.peep= image_tag(p.gravatar_url(:size => 64), :alt => p.name)
    
- content_for(:sidebar) do
  %h2 Tweets
  - for tweet in @tweets do
    %p.tweet
      %a{:href => tweet.link}= tweet.full_name
      = tweet.text
  