<h1>Listing topics</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Link</th>
    <th>Meeting</th>
  </tr>

<% for topic in @topics %>
  <tr>
    <td><%=h topic.title %></td>
    <td><%=h topic.description %></td>
    <td><%=h topic.link %></td>
    <td><%=h topic.meeting_id %></td>
    <td><%= link_to 'Show', topic %></td>
    <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    <td><%= link_to 'Destroy', topic, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New topic', new_topic_path %>
