<p>
  <b>Title:</b>
  <%=h @topic.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @topic.description %>
</p>

<p>
  <b>Link:</b>
  <%= link_to @topic.link, @topic.link %>
</p>

<p>
  <b>Meeting:</b>
  <%=h @topic.meeting_id %>
</p>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
