%h1 What's Going On Here?
%p 
  This is the early beginnings of the Canberra Ruby Crew site which will evolve as we hack on it at our monthly meetings making it do all sorts of crazy and cool things. Right now it does zip all, but you can change that by forking it on
  = link_to 'github', 'http://github.com/artpop/crc_site'
  and sending me a pull request if you want to see your changes go live:

%pre
  git://github.com/artpop/crc_site.git

%h2 Meetings
%p As for the meetings themselves we are still looking for an appropriate venue as we have outgrown most people's lounge rooms now. We are also tying up some sponsorship to help with the costs of this as well as hosting this site on a slice which we can all experiment with. Meetings are meant to be held on the last Friday of the month.
%h2 Mailing List
%p 
  A Canberra specific Ruby and Rails
  = link_to 'mailing list is', 'http://groups.google.com/group/canberra-ruby'
  is available for those who want to use it:
%pre
  http://groups.google.com/group/canberra-ruby

%h2 Peeps

#peeps
  - (Person.all.sort_by{rand}).each do |p|
    %div.peep= image_tag(p.gravatar_url(:size => 64), :alt => p.name)
      
- content_for(:sidebar) do
  %h3 Don't Panic
  %p Here's what you need to get started:
  %ol
    %li
      get yourself a 
      = link_to 'gravatar', 'http://en.gravatar.com/'
    %li
      sign up with
      = link_to 'github', 'http://github.com'
    %li
      grab a copy of the crc_site
    %li
      start contributing!
  %h3 Building Blocks
  %p This site is built with:
  %ul
    %li Rails 2.1
    %li RSpec
    %li Haml
    %li Sass