!!! Strict
%html{:xmlns =>'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en'}

  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    %title Canberra Ruby Crew
    %link{:href => '/images/icon.png', :rel => 'icon', :sizes => '16x16', :type => 'image/png'}
    = stylesheet_link_tag 'application', :media => 'all'
    =# javascript_include_tag 'jquery', 'application', :cache => false
    =# Using jRails plugin
    = javascript_include_tag :defaults
    = yield :head
  %body
    #main
      %div.wrapper
        %div.content
          = yield
      
        %div.sidebar
          %a{:href => '/'}
            = image_tag 'crc.png'
          = yield :sidebar
            
    #footer
      %div.wrapper
        %div.content
          %ul
            %li="© #{current_year} Canberra Ruby Crew"
            %li= link_to 'Ruby', 'http://ruby-lang.org'
            %li= link_to 'Ruby on Rails Oceania', 'http://rubyonrails.com.au'
            %li= link_to 'RORO Faces', 'http://faces.rubyonrails.com.au'
        %div.sidebar
          = image_tag 'crc_small.png'
        %div.clearfix