!!! Strict
%html{:xmlns =>'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en'}

  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    %title Canberra Ruby Crew
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'jquery', 'application', :cache => false

  %body
    #main
      %div.wrapper
        %div.content
          = yield
      
        %div.sidebar
          = image_tag 'crc.png'
          = yield :sidebar
            
    #footer
      %div.wrapper
        %div.content
          %p
            ="© #{current_year}"
            Canberra Ruby Crew
        %div.sidebar
          = image_tag 'crc_small.png'